
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: #ccd300; /* Primary link color for dark mode */
  text-decoration: underline;
}

